<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>musicName</key>
		<string>像风一样</string>
		<key>musicUrl</key>
		<string>live</string>
		<key>musicImageUrl</key>
		<string>https://gss2.bdstatic.com/9fo3dSag_xI4khGkpoWK1HF6hhy/baike/crop%3D6%2C33%2C1017%2C671%3Bc0%3Dbaike116%2C5%2C5%2C116%2C38/sign=eb81b6ead754564ef12abe798ee8b0b1/64380cd7912397dd039112fd5382b2b7d1a2875b.jpg</string>
		<key>musicSinger</key>
		<string>薛之谦</string>
		<key>musicLyrics</key>
		<string>[00:00.55]薛之谦 - 像风一样(Live)
[00:01.96]作词：薛之谦
[00:02.82]作曲：薛之谦
[00:31.18]薛之谦：我等的模样好不具象
[00:40.33]用皮肤感受你的流向
[00:48.27]你竟然能做到带走阳光
[00:56.26]我一味的跟随过了量
[01:03.30]参赛者：像风一样
[01:06.90]你靠近云都下降
[01:10.99]你卷起千层海浪我躲也不躲往里闯
[01:19.37]你不就像风一样
[01:23.42]侵略时沙沙作响
[01:27.58]再宣布恢复晴朗
[01:31.57]就好像我们两个没爱过一样
[01:44.05]薛之谦：曲折的夕阳负责格挡
[01:53.42]让委屈的感官无法释放
[02:01.53]最近我的伤口没生长
[02:09.42]因为我躲在没风的地方
[02:17.42]像风一样
[02:20.09]你靠近云都下降
[02:24.13]你卷起千层海浪
[02:28.13]我躲也不躲往里闯
[02:32.28]你不就像风一样
[02:36.28]侵略时沙沙作响
[02:40.32]再宣布恢复晴朗
[02:44.37]就好像我们两个没爱过一样
[02:53.58]合：你像风一样
[02:56.52]触摸时温柔流淌
[03:00.67]席卷我所有抵抗不急着要我投降
[03:08.75]你不就像风一样
[03:12.74]掠夺时沙沙作响
[03:16.94]可惜我自投罗网
[03:20.94]你也就没什么可骄傲的地方
[03:32.78]薛之谦：和风一样
[03:37.98]你离开不声不响
[03:42.31]我喜欢这种收场
[03:46.81]看上去谁也不曾亏欠过对方</string>
	</dict>
	<dict>
		<key>musicName</key>
		<string>丑八怪</string>
		<key>musicUrl</key>
		<string>ugly</string>
		<key>musicImageUrl</key>
		<string>https://gss1.bdstatic.com/9vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike272%2C5%2C5%2C272%2C90/sign=6acb6b2bc4fc1e17e9b284632bf99d66/1e30e924b899a901656a870b16950a7b0208f5b4.jpg</string>
		<key>musicSinger</key>
		<string>薛之谦</string>
		<key>musicLyrics</key>
		<string>[00:00.27]薛之谦 - 丑八怪(《如果我爱你》电视剧插曲)
[00:00.70]词：甘世佳
[00:00.80]曲：李荣浩
[00:00.90]编曲：李荣浩
[00:20.37]如果世界漆黑 其实我很美
[00:24.08]在爱情里面进退 最多被消费
[00:27.91]无关痛痒的是非
[00:29.91]又怎么不对 无所谓
[00:36.07]如果像你一样 总有人赞美
[00:39.53]围绕着我的卑微 也许能消退
[00:43.46]其实我并不在意 有很多机会
[00:46.93]像巨人一样的无畏
[00:49.75]放纵我 心里的鬼
[00:51.37]可是我不配
[00:54.62]丑八怪 能否别把灯打开
[01:02.23]我要的爱 出没在
[01:06.71]漆黑一片的舞台
[01:09.73]丑八怪 在这暧昧的时代
[01:17.84]我的存在 像意外
[01:38.04]有人用一滴泪 会红颜祸水
[01:41.59]有人丢掉称谓 什么也不会
[01:45.39]只要你足够虚伪 就不怕魔鬼 对不对
[01:53.57]如果剧本写好 谁比谁高贵
[01:56.93]我只能沉默以对 美丽本无罪
[02:00.74]当欲望开始贪杯 有更多机会
[02:04.29]像尘埃一样的无畏 化成灰 谁认得谁
[02:08.78]管他配不配
[02:12.21]丑八怪 能否别把灯打开
[02:19.71]我要的爱 出没在
[02:24.08]漆黑一片的舞台
[02:27.14]丑八怪 在这暧昧的时代
[02:35.31]我的存在 不意外
[03:02.31]丑八怪 其实见多就不怪
[03:10.18]放肆去high 用力踩
[03:14.30]那不堪一击的洁白
[03:17.48]丑八怪 这是我们的时代
[03:25.71]我不存在 才意外
</string>
	</dict>
	<dict>
		<key>musicName</key>
		<string>绅士</string>
		<key>musicUrl</key>
		<string>gentleman</string>
		<key>musicImageUrl</key>
		<string>https://gss3.bdstatic.com/-Po3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike116%2C5%2C5%2C116%2C38/sign=ec4a59edd133c895b2739029b07a1895/b8014a90f603738d4a192258bb1bb051f819ec7d.jpg</string>
		<key>musicSinger</key>
		<string>薛之谦</string>
		<key>musicLyrics</key>
		<string>[00:00.12]薛之谦 - 绅士
[00:01.32]词：薛之谦
[00:02.05]曲：薛之谦
[00:02.80]编曲：Venk
[00:03.40]制作人：Venk
[00:04.15]钢琴：Venk
[00:04.77]吉他：Venk
[00:05.36]配唱制作人：Venk
[00:06.43]合声：Venk
[00:07.03]录音师：金宇
[00:08.00]混音师：王用钧
[00:09.19]母带处理工程师：鲍锐
[00:19.57]好久没见了
[00:21.59]什么角色呢
[00:23.64]细心装扮着白色衬衫的
[00:29.06]袖扣是你送的
[00:32.07]尽量表现着
[00:34.23]像不在意的
[00:36.38]频繁暴露了自欺欺人者
[00:41.79]越掩饰越深刻
[00:44.78]你说 我说 听说
[00:47.92]忍着言不由衷的段落
[00:52.04]我反正决定自己难过
[01:01.65]我想摸你的头发
[01:03.83]只是简单的试探啊
[01:09.91]我想给你个拥抱
[01:12.16]像以前一样可以吗
[01:17.76]你退半步的动作认真的吗
[01:21.82]小小的动作伤害还那么大
[01:25.96]我只能扮演个绅士
[01:29.14]才能和你说说话
[01:35.34]我能送你回家吗
[01:37.42]可能外面要下雨啦
[01:43.61]我能给你个拥抱
[01:45.85]像朋友一样可以吗
[01:51.41]我忍不住从背后抱了一下
[01:55.44]尺度掌握在不能说想你啊
[01:59.45]你就当刚认识的绅士
[02:03.12]闹了个笑话吧
[02:21.73]尽量表现着善解人意的
[02:25.79]频繁暴露了不欲人知的
[02:31.32]越掩饰越深刻
[02:34.29]想说 听说 别说
[02:37.35]忍着言不由衷的段落
[02:41.73]我反正注定留在角落
[02:51.21]我想摸你的头发
[02:53.30]只是简单的试探啊
[02:59.42]我想给你个拥抱
[03:01.64]像以前一样可以吗
[03:07.21]你退半步的动作认真的吗
[03:11.29]小小的动作伤害还那么大
[03:15.48]我只能扮演个绅士
[03:18.70]才能和你说说话
[03:24.76]我能送你回家吗
[03:26.87]可能外面要下雨啦
[03:33.10]我能给你个拥抱
[03:35.31]像朋友一样可以吗
[03:40.80]我忍不住从背后抱了一下
[03:44.91]尺度掌握在不能说想你啊
[03:48.90]你就当刚认识的绅士
[03:52.65]闹了个笑话吧
[03:58.53]你能给我只左手
[04:00.56]牵你到马路那头吗
[04:06.84]我会像以前一样
[04:08.92]看着来往的车子啊
[04:14.55]我们的距离在眉间皱了下
[04:18.61]迅速还原成路人的样子啊
[04:22.88]越有礼貌我越害怕
[04:26.30]绅士要放得下</string>
	</dict>
	<dict>
		<key>musicName</key>
		<string>演员</string>
		<key>musicUrl</key>
		<string>actor</string>
		<key>musicImageUrl</key>
		<string>https://gss1.bdstatic.com/-vo3dSag_xI4khGkpoWK1HF6hhy/baike/c0%3Dbaike80%2C5%2C5%2C80%2C26/sign=3584f113f3f2b211f0238d1cabe90e5d/fd039245d688d43fa2280692751ed21b0ff43bc8.jpg</string>
		<key>musicSinger</key>
		<string>薛之谦</string>
		<key>musicLyrics</key>
		<string>[00:00.04]薛之谦 - 演员
[00:03.12]作词：薛之谦
[00:04.32]作曲：薛之谦
[00:05.57]编曲：郑伟、张宝宇
[00:21.49]简单点说话的方式简单点
[00:30.68]递进的情绪请省略
[00:33.54]你又不是个演员
[00:36.26]别设计那些情节
[00:42.32]没意见
[00:46.47]我只想看看你怎么圆
[00:51.94]你难过得太表面
[00:54.50]像没天赋的演员
[00:57.21]观众一眼能看见
[01:02.64]该配合你演出的我
[01:04.94]演视而不见
[01:07.56]在逼一个最爱你的人
[01:10.57]即兴表演
[01:12.82]什么时候我们开始
[01:15.58]收起了底线
[01:17.99]顺应时代的改变看
[01:20.50]那些拙劣的表演
[01:23.41]可你曾经那么爱我
[01:25.82]干嘛演出细节
[01:28.63]我该变成什么样子
[01:30.90]才能延缓厌倦
[01:33.71]原来当爱放下防备后的
[01:36.77]这些那些
[01:39.39]才是考验
[01:45.24]没意见
[01:49.29]你想怎样我都随便
[01:55.00]你演技也有限
[01:57.41]又不用说感言
[02:00.01]分开就平淡些
[02:05.34]该配合你演出的我
[02:07.90]演视而不见
[02:10.45]别逼一个最爱你的人
[02:13.46]即兴表演
[02:15.81]什么时候我们开始
[02:18.41]没有了底线
[02:21.03]顺着别人的谎言被动
[02:23.59]就不显得可怜
[02:26.41]可你曾经那么爱我
[02:28.77]干嘛演出细节
[02:31.43]我该变成什么样子
[02:33.78]才能配合出演
[02:36.68]原来当爱放下防备后的
[02:39.59]这些那些
[02:42.00]都有个期限
[02:48.10]其实台下的观众就我一个
[02:53.16]其实我也看出你有点不舍
[02:58.47]场景也习惯我们来回拉扯
[03:03.13]还计较着什么
[03:09.14]其实说分不开的也不见得
[03:14.11]其实感情最怕的就是拖着
[03:19.36]越演到重场戏越哭不出了
[03:24.49]是否还值得
[03:29.20]该配合你演出的我
[03:31.62]尽力在表演
[03:34.53]像情感节目里的嘉宾
[03:37.35]任人挑选
[03:39.86]如果还能看出我有
[03:42.28]爱你的那面
[03:44.98]请剪掉那些情节让我
[03:47.75]看上去体面
[03:50.15]可你曾经那么爱我干嘛
[03:53.11]演出细节
[03:55.32]不在意的样子是我最后的表演
[04:01.12]是因为爱你我才选择
[04:04.19]表演这种成全
</string>
	</dict>
</array>
</plist>
